body{
    background-color: #F3FFF3;
    position: relative;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 1%;
  }

  .logo {
    color: #3E7996;
    font-size: 1.2rem;
  }
  
  .nav-links {
    list-style: none;
    padding: 0px;
    display: flex;
  }
  
  .nav-links li a {
    color: #3E7996;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 2rem;
    color: #3E7996;
    cursor: pointer;
    float: left;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: left;
      background-color: #3E7996;
      position: absolute;
      top: 40px; /* altura da navbar */
    }
  
    .nav-links li {
      margin: 0.6rem 0;
    }

    .menu-icon {
      display: block;
    }
  
    .nav-links.active {
     display: flex;
    }
  }

ul{
    display: inline-flex;
    margin-left: 14.8%;
    overflow: hidden;
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin-top: 2.2%;
}

@media (max-width: 768px){
  ul{
    flex-direction: column;
    margin-left: 2.8%;
    margin-top: 2.2%;
  }
}

a{
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(0.5rem, 2vw + 0.3rem, 1.3rem);
    color: #3E7996;
    text-decoration: none;
}

li{
    overflow: hidden;
    margin-right: 4%;
    padding: 12 px;
}

/*
h1{
    font-family: "Tilt Neon", sans-serif;
    border: 2px solid #3E7996;
    border-radius: 25px;
    padding: 7px;
    margin-right: 23%;
    margin-left: 23%;
    text-align: center;
    color: #3E7996;
    margin-top: 1.2%;
    font-size: clamp(0.5rem, 2vw + 0.3rem, 1.3rem);
}
*/

header{
  float: left;
  position: sticky;
    top: 0;
    z-index: 1000;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) { 
    .menu {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle:checked + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-top: 40%;
        margin-left: 25%;
    }
}

.container {
    max-width: 35%;
    height: 747px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #ADDFD0;
    margin-right: 0px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.overlay h2 {
    text-align:left;
    margin-left: 26%;
    margin-right: 24%;
    line-height: 1.8;
    font-size: clamp(1.2rem, 2vw + 1.2rem, 10rem);
    color: #3E7996;
    margin-bottom: 22%;
}

@media screen and (max-width: 768px){
  .overlay h2{
    margin-top: -45%;
    margin-left: 20%;
  }
}

  img{
    padding: 15px;
    width: 34%;
    position: absolute;
    top: 38%;
    left: 32%;
    transform: translate(-50%, -50%);
    margin-left: 37%;
  }

  @media screen and (max-width: 768px){
    img{
      width: 45%;
    }
  }

.input-container {
    position: relative;
    width: 70%;
    margin-left: 8%;
}

input{
    background-color: #ADDFD0;
    padding: 9px 40px 5px 15px;
    border: 2.3px solid #3E7996;
    border-radius: 50px;
    margin-left: 4%;
    font-size: 1.2em;
    margin-top: 0.50%;
    position: fixed;
}

.container-1{
    max-width: 2024px;
    height: 300px;
    padding: 20px 10px;
    background-color: #73B5B7;
}

h3{
    text-align: center;
    font-size: 3em;
    color: #FFFFFF;
}

.logo{
  position: fixed;
  margin-left: -25%;
  margin-top: -14.8%;
  width: 4.3%;
}

@media screen and (max-width: 768px){
  .logo{
    width: 0%;
  }
}

h4{
  font-size: 0em;
}

@media screen and (max-width: 768px){
  h4{
    font-size: 1em;
    margin-left: 129%;
    margin-top: 48%;
    color: #3E7996;
  }
}

/*Login e cadastro*/
.logincont{
    max-width: 45%;
    height: 747px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #2D2E47;
    margin-right: 0px;
    position: relative;
}

h1{
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 19px;
}

h2{
  font-size: 25px;
  color: #F0FFF0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.label{
  font-size: 25px;
  color: #F0FFF0;
  margin-top: 15%;
  margin-left: 5%;
}

.input{
  color: #F0FFF0;
  margin-top: 50px;
  margin-right: 70%;
}