body{
    background-color: #F0FFF0;
}

ul{
    margin-left: 20%;
    overflow: hidden;
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin-top: 1.2%;
}

a{
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.3em;
    color: #3E7996;
    text-decoration: none;
}

li{
    display: inline;
    overflow: hidden;
    margin-right: 4%;
    padding: 10 px;
}

h1{
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.3em;
    border: 2px solid #3E7996;
    border-radius: 25px;
    padding: 7px;
    margin-right: 23%;
    margin-left: 23%;
    text-align: center;
    color: #3E7996;
    margin-top: 1.2%;
}

header{
    float: left;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle:checked + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

.container {
    max-width: 35%;
    height: 733px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #b1ecda;
    margin-right: 0px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}

.overlay h2 {
  
    text-align: left;
    margin-left: 15%;
    margin-right: 24%;
    line-height: 1.8;
    font-size: 4em;
    color: #3E7996;
    font-weight: bold;
}

.img_topo{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    margin-left: 40%;
}