body{
    background-color: #F3FFF3;
    position: relative;
}
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1rem;
  }

  .logo {
    color: #3E7996;
    font-size: 1.2rem;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links li a {
    color: #3E7996;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 2rem;
    color: #3E7996;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: #3E7996;
      position: absolute;
      top: 60px; /* altura da navbar */
      left: 0;
    }
  
    .nav-links li {
      margin: 1rem 0;
    }
  
    .menu-icon {
      display: block;
    }
  
    .nav-links.active {
      display: flex;
    }
  }

ul{
    margin-left: 5%;
    overflow: hidden;
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin-top: 1.2%;
}

a{
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(0.5rem, 2vw + 0.3rem, 1.3rem);
    color: #3E7996;
    text-decoration: none;
}

li{
    display: inline;
    overflow: hidden;
    margin-right: 4%;
    padding: 10 px;
}

/*
h1{
    font-family: "Tilt Neon", sans-serif;
    border: 2px solid #3E7996;
    border-radius: 25px;
    padding: 7px;
    margin-right: 23%;
    margin-left: 23%;
    text-align: center;
    color: #3E7996;
    margin-top: 1.2%;
    font-size: clamp(0.5rem, 2vw + 0.3rem, 1.3rem);
}
*/

header{
    float: left;
}


/* Estilos para dispositivos menores */
@media screen and (max-width: 768px) { 
    .menu {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle:checked + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-top: 60%;
        margin-left: 60%;
    }
}

.container {
    max-width: 35%;
    height: 733px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: #ADDFD0;
    margin-right: 0px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.overlay h2 {
    text-align: left;
    margin-left: 15%;
    margin-right: 24%;
    line-height: 1.8;
    font-size: clamp(1.2rem, 2vw + 1.2rem, 6rem);
    color: #3E7996;
    margin-bottom: 30%;
}

  img{
    padding: 15px;
    width: 42%;
    position: absolute;
    top: 35%;
    left: 32%;
    transform: translate(-50%, -50%);
    margin-left: 40%;
  }

.input-container {
    position: relative;
    width: 70%;
    margin-left: 8%;
}

input{
    background-color: #ADDFD0;
    padding: 9px 40px 5px 15px;
    border: 2.3px solid #3E7996;
    border-radius: 50px;
    width: 70%;
    margin-left: 8%;
    font-size: 1.2em;
}

svg{
    width: 20px;
    color: #3E7996;
}

.container-1{
    max-width: 2024px;
    height: 300px;
    padding: 20px 10px;
    background-color: #73B5B7;
}

h3{
    text-align: center;
    font-size: 3em;
    color: #FFFFFF;
}